<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <!-- max_power_this_minute, max_power, total_power, total_energy_hour, total_energy_day, total_energy_month, total_cost_hour, total_cost_day, total_cost_month, dynamic_price_current = stringVal.split(' ') -->

   <table>
    <tr>
      <th>Max Power This Minute</th>
      <th>Max Power</th>
      <th>Total Power</th>
    </tr>
    <tr>
      <th>{{max_power_this_minute}}</th>
      <th>{{max_power}}</th>
      <th>{{total_power}}</th>
    </tr>
   </table>
   <table>
    <tr>
      <th>Total Energy Hour</th>
      <th>Total Energy Day</th>
      <th>Total Energy Month</th>
    </tr>
    <tr>
      <th>{{total_energy_hour}}</th>
      <th>{{total_energy_day}}</th>
      <th>{{total_energy_month}}</th>
    </tr>
   </table>
   <table>
    <tr>
      <th>Total Cost Hour</th>
      <th>Total Cost Day</th>
      <th>Total Cost Month</th>
    </tr>
    <tr>
      <th>{{total_cost_hour}}</th>
      <th>{{total_cost_day}}</th>
      <th>{{total_cost_month}}</th>
    </tr>
   </table>

   <br>
   <br>
   <br>
<h1>Dynamic Price Current: {{dynamic_price_current }}</h1>
</body>
</html>