<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
            <tr>
              <th>Phase 1 Voltage</th>
              <th>Phase 2 Voltage</th>
              <th>Phase 3 Voltage</th>
            </tr>
            <tr>
              <td>{{phase_1_voltage}}</td>
              <td>{{phase_2_voltage}}</td>
              <td>{{phase_3_voltage}}</td>
            </tr>
          </table>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>

    <div>
        <table>
        <tr>
          <th>Total Power</th>
          <th>Total Solar Power</th>
          <th>Solar Max Power</th>
        </tr>
        <tr>
          <td>{{total_power}}</td>
          <td>{{total_solar_power}}</td>
          <td>{{solar_max_power}}</td>
        </tr>
      </table>

      <br/>
    <br/>
    <br/>
    <br/>

    <div>
        <table>
        <tr>
          <th>Solar Energy Today</th>
          <th>Solar Energy Month</th>
        </tr>
        <tr>
          <td>{{solar_energy_today}}</td>
          <td>{{solar_energy_month}}</td>
        </tr>
      </table>
    </div>

    <br>
    <br>
    <br>
    <table>
        <tr>
            <th>Daily Cost</th>
            <th>Monthly Cost</th>
        </tr>
        <tr>
            <td>{{cost_day}}</td>
            <td>{{cost_month}}</td>
        </tr>
    </table>

    <br>
    <br>
    <br>

    <table>
        <tr>
            <th>Energy Hour</th>
            <th>Energy day</th>
            <th>Energy Month</th>
        </tr>
        <tr>
            <td>{{energy_hour}}</td>
            <td>{{energy_day}}</td>
            <td>{{energy_month}}</td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <table>
        <tr>
          <th>Dynamic Price New</th>
          <th>Dynamic Price Old</th>
          <th>Dynamic Price Current</th>
        </tr>
        <tr>
          <td>{{dynamic_price_new}}</td>
          <td>{{dynamic_price_old}}</td>
          <td>{{dynamic_price_current}}</td>
        </tr>
      </table>
</body>
</html>